<%- include('top') %>
<% const ABC = ["#", "A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"] %>
<div class="columns is-multiline">


<% ABC.forEach(el => { if(brands[el] != undefined){%>
  <div class="column is-one-fifth">
    <%- include('OneLetter', {letter:el, brands: brands[el], str:str}) %>
  </div>
<% }}) %>

</div>

<%- include('bottom') %>
