<%- include('top') %>
<table id="example">
<thead>
  <tr>
    <td>NDN szám</td>

  <td>Típus</td>
  <td>Név</td>
  <td>Márka</td>
  <td>Mennyiség</td>
  <td>Ár (Ft)</td>

</tr>
</thead>
  <tbody>
    <% products.forEach(el => {%>
      <tr>
        <td><%= el.NDN %></td>

      <td><a href="/categories/<%= el.Type %>"><%= el.Type %></a></td>
      <td><%= el.Name %></td>
      <td><a href="/brands/<%= el.Brand %>"><%= el.Brand %></a></td>
      <td><%= el.Amount %></td>
      <td><%= el.Price %></td>

    </tr>
    <% }) %>
  </tbody>

</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable({
        "pageLength": 50,
        "lengthChange": false,
        "language":{
    "emptyTable": "Nincs rendelkezésre álló adat",
    "info": "Találatok: _START_ - _END_ Összesen: _TOTAL_",
    "infoEmpty": "Nulla találat",
    "infoFiltered": "(_MAX_ összes rekord közül szűrve)",
    "infoThousands": " ",
    "lengthMenu": "_MENU_ találat oldalanként",
    "loadingRecords": "Betöltés...",
    "processing": "Feldolgozás...",
    "search": "Keresés:",
    "zeroRecords": "Nincs a keresésnek megfelelő találat",
    "paginate": {
        "first": "Első",
        "previous": "Előző",
        "next": "Következő",
        "last": "Utolsó"
    },
    "aria": {
        "sortAscending": ": aktiválja a növekvő rendezéshez",
        "sortDescending": ": aktiválja a csökkenő rendezéshez"
    },
    "select": {
        "rows": {
            "_": "%d sor kiválasztva",
            "1": "1 sor kiválasztva"
        },
        "cells": {
            "1": "1 cella kiválasztva",
            "_": "%d cella kiválasztva"
        },
        "columns": {
            "1": "1 oszlop kiválasztva",
            "_": "%d oszlop kiválasztva"
        }
    },
    "buttons": {
        "colvis": "Oszlopok",
        "copy": "Másolás",
        "copyTitle": "Vágólapra másolás",
        "copySuccess": {
            "_": "%d sor másolva",
            "1": "1 sor másolva"
        },
        "collection": "Gyűjtemény",
        "colvisRestore": "Oszlopok visszaállítása",
        "copyKeys": "Nyomja meg a CTRL vagy u2318 + C gombokat a táblázat adatainak a vágólapra másolásához.<br \/><br \/>A megszakításhoz kattintson az üzenetre vagy nyomja meg az ESC billentyűt.",
        "csv": "CSV",
        "excel": "Excel",
        "pageLength": {
            "-1": "Összes sor megjelenítése",
            "_": "%d sor megjelenítése"
        },
        "pdf": "PDF",
        "print": "Nyomtat"
    },
    "autoFill": {
        "cancel": "Megszakítás",
        "fill": "Összes cella kitöltése a következővel: <i>%d<\/i>",
        "fillHorizontal": "Cellák vízszintes kitöltése",
        "fillVertical": "Cellák függőleges kitöltése"
    },
    "searchBuilder": {
        "add": "Feltétel hozzáadása",
        "button": {
            "0": "Keresés konfigurátor",
            "_": "Keresés konfigurátor (%d)"
        },
        "clearAll": "Összes feltétel törlése",
        "condition": "Feltétel",
        "conditions": {
            "date": {
                "after": "Után",
                "before": "Előtt",
                "between": "Között",
                "empty": "Üres",
                "equals": "Egyenlő",
                "not": "Nem",
                "notBetween": "Kívül eső",
                "notEmpty": "Nem üres"
            },
            "number": {
                "between": "Között",
                "empty": "Üres",
                "equals": "Egyenlő",
                "gt": "Nagyobb mint",
                "gte": "Nagyobb vagy egyenlő mint",
                "lt": "Kissebb mint",
                "lte": "Kissebb vagy egyenlő mint",
                "not": "Nem",
                "notBetween": "Kívül eső",
                "notEmpty": "Nem üres"
            },
            "string": {
                "contains": "Tartalmazza",
                "empty": "Üres",
                "endsWith": "Végződik",
                "equals": "Egyenlő",
                "not": "Nem",
                "notEmpty": "Nem üres",
                "startsWith": "Kezdődik"
            }
        },
        "data": "Adat",
        "deleteTitle": "Feltétel törlése",
        "logicAnd": "És",
        "logicOr": "Vagy",
        "title": {
            "0": "Keresés konfigurátor",
            "_": "Keresés konfigurátor (%d)"
        },
        "value": "Érték"
    },
    "searchPanes": {
        "clearMessage": "Szűrők törlése",
        "collapse": {
            "0": "Szűrőpanelek",
            "_": "Szűrőpanelek (%d)"
        },
        "count": "{total}",
        "countFiltered": "{shown} ({total})",
        "emptyPanes": "Nincsenek szűrőpanelek",
        "loadMessage": "Szűrőpanelek betöltése",
        "title": "Aktív szűrőpanelek: %d"
    },
    "datetime": {
        "previous": "Előző",
        "next": "Következő",
        "hours": "Óra",
        "minutes": "Perc",
        "seconds": "Másodperc",
        "amPm": [
            "de.",
            "du."
        ]
    },
    "editor": {
        "close": "Bezárás",
        "create": {
            "button": "Új",
            "title": "Új",
            "submit": "Létrehozás"
        },
        "edit": {
            "button": "Módosítás",
            "title": "Módosítás",
            "submit": "Módosítás"
        },
        "remove": {
            "button": "Törlés",
            "title": "Törlés",
            "submit": "Törlés"
        }
    }
}  
    });
} );
</script>
<%- include('bottom') %>
