<!DOCTYPE html>
<html style="overflow-y:auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DohiÁr</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">


     <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
     <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bulma.min.js"></script>

  </head>
  <body>
  <section class="section">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation" style="margin-bottom:50px;">
  <div class="navbar-brand">
    <a class="navbar-item"href="/">
      <img src="/logo.png" style="width:50px; height: 50px !important; max-height: initial;   transform: scale(3); margin-right:40px; ">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Főoldal
      </a>
      <a class="navbar-item" href="/brands">
        Márkák
      </a>
      <a class="navbar-item" href="/categories">
        Kategóriák
      </a>


    </div>


  </div>
</nav>
